<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    

    <main>
        
     <!-- colore del background -->
            <div id="background">

                <div id="background-header">
                </div>
                <div id="background-main">         
                </div>
        
            <!-- qui inizia la parte dell'app -->
                <section>
                    <div id="container-main">
                        <!-- parte header -->
                        <div id="header-app">
                            <!-- parte header di sinistra -->
                            <div id="user-info">
                                <div id="user-info-sx">
                                    <div class="preview-image-user">
                                        <img src="img/immagine1.jpg" alt="">
                                    </div>
                                    <div class="name-and-access"></div>
                                    <span class="name-user">Antonino</span>
                                    
                                </div>
                                <div class="user-info-dx">
                                    <i class="fa-solid fa-circle-notch"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>

                                </div>


                            </div>
                            <!-- parte header di destra -->
                            <div id="contact-active-info">
                                <div id="contact-active-sx">
                                    <div class="preview-image-user">
                                        <img :src="contacts[activeUser].avatar" alt="">
                                    </div>
                                    <div class="contact-active-info-text">
                                        <div class="name-contact">{{contacts[activeUser].name}}</div>
                                        <div class="last-access " v-if="contacts[activeUser].messages" v-if="contacts[activeUser].messages.length">Ultimo accesso 
                                            {{contacts[activeUser].messages[1].date}}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="user-info-dx">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-paperclip"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>

                                </div>

                            </div>

                            

                        </div>
                        <!-- corpo centrale -->
                        <div id="chat-main">
                            <!-- parte menu sx -->
                            <div id="menu-sx">
                                <!-- Parte notifiche -->
                                <div id="notification">
                                    <i class="fa-solid fa-bell-slash"></i>
                                    <div id="notification-text">
                                        <div>Ricevi notifiche di nuovi messaggi</div>
                                        <a href="#">attiva notifiche desktop</a>
                                    </div>

                                </div>
                                <!-- parte di ricerca contatti -->
                                <div id="found-chat">
                                    <div id="search-bar-contact">
                                        <div id="button-search">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </div>
                                        <div id="bar-search">
                                            <input id="input-search-contact" type="text" placeholder="Cerca o inizia una nuova chat">

                                        </div>

                                    </div>

                                </div>
                                <!-- Parte dove sono contenute le chat -->
                                <div id="preview-contact-message">
                                    <div class="block-single-chat" v-for="(contact,index) in contacts" @click = "activeUser = index">
                                        <div class="preview-image-user grey">
                                            <img :src="contact.avatar" alt="">
                                        </div>
                                        <div class="contact-active-info-text">
                                            <div class="name-contact">{{contact.name}}</div>
                                            <div class="last-access" v-if="contact.messages.length">ultimo accesso {{contact.messages[contact.messages.length-1].date}} </div>
                                        </div>
                                        <div class="hour-last-message">12.00</div>
                                    </div>
                                    
                                    
                                </div>

                            </div>
                        <!-- parte chat a destra -->
                            <div id="main-dx">
                                <div id="principal-interface">
                                    <div class="conversation" :class="activeUser === index ? 'active' : 'none' "  v-for="(contact,index) in contacts"  >
                                        
                                            <div :class="comment.status === 'sent' ? 'text-send' : 'text-received' " v-for="(comment,indexComments) in contact.messages"> 
                                                <p>{{comment.message }}</p>
                                                <div class="hour-chat">{{comment.date}}</div> 

                                            </div>
                                        
                                        
                                    </div>
                                </div>
                                <div id="bartext"   @keydown.enter="nuovoMessage(activeUser)">
                                    <i class="fa-regular fa-face-smile"></i>
                                    <input id="input-insert-text" type="text" placeholder="Scrivi un messaggio" v-model="newMessage">
                                    <i class="fa-solid fa-microphone"></i>
                                    
                                    
                                </div>
                            </div>
                    
                        </div>
                        
                        


                    </div>
                </section>
            </div>
    </main>

    
    

   

    
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>